<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Selamat Datang di Halaman Utama!</h1>
    <p>Anda telah berhasil login.</p>
    <p>Username: <span sec:authentication="name"></span></p>
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>