<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}">

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Konten Utama -->
<div id="content">
    <h1>Selamat Datang di Halaman Log</h1>
    <p>Ini adalah konten utama halaman home Anda.  Anda bisa menambahkan teks, gambar, atau elemen lain di sini.</p>
    <button class="btn btn-primary">Tombol Contoh</button>
</div>


<!-- Bootstrap JavaScript (Urutan penting: jQuery, Popper.js, Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>