<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Rules</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/rules.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Konten Utama -->
<div id="content">
    <h1 th:text="${rule.configkey}"></h1>

    <h1>Dynamic Form</h1>
    <form>
        <h1 th:text="${rule.configtype}"></h1>
    <div th:if="${rule.configtype == 'EVENT'}">
            <div th:each="listEntry: ${event.getProperties()}" class="form-group">
                <label th:text="${listEntry.getKey()}" class="form-label"></label>
                <label th:text="${listEntry.getValue()}" class="form-label"></label>

                <div th:if="${listEntry.isTrackable()}">
                    <input type="checkbox" th:value="${listEntry.isTrackable()}" class="form-check-input" checked/>
                    <label class="form-check-label">Trackable</label>
                </div>
                <div th:unless="${listEntry.isTrackable()}">
                    <input type="checkbox" th:value="${listEntry.isTrackable()}" class="form-check-input"/>
                    <label class="form-check-label">Trackable</label>
                </div>

                <div th:if="${listEntry.isPii()}">
                    <input type="checkbox" th:value="${listEntry.isPii()}" class="form-check-input" checked/>
                    <label class="form-check-label">PII</label>
                </div>
                <div th:unless="${listEntry.isPii()}">
                    <input type="checkbox" th:value="${listEntry.isPii()}" class="form-check-input"/>
                    <label class="form-check-label">PII</label>
                </div>
                    </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div th:if="${rule.configtype == 'CAMPAIGN'}">
        <h1>Campaign Details</h1>
        <div class="tab">
            <div th:each="eligibility : ${campaign.getEligibility()}" class="eligibility-group">
                <button class="tablinks" onclick="openRuleMatching(event, this.dataset.groupName)" type="button" th:text="${eligibility.getEligibilityGroup()}" th:data-group-name="${eligibility.getEligibilityGroup()}"></button>
        </div>
        </div>

        <div th:each="eligibility : ${campaign.getEligibility()}" class="eligibility-group">
            <div th:id="${eligibility.getEligibilityGroup()}" class="tabcontent">
                <h3>Eligibility Group: <span th:text="${eligibility.getEligibilityGroup()}"></span></h3>
                <p>Rule ID: <span th:text="${eligibility.getRuleId()}"></span></p>
                <p>Event Type: <span th:text="${eligibility.getEventType()}"></span></p>


                <h4>Rule Matchings:</h4>
                <ul th:each="ruleMatching : ${eligibility.getRuleMatchings()}">
                    <li>
                        <strong>Name:</strong> <span th:text="${ruleMatching.getName()}"></span><br/>
                        <strong>Operator:</strong> <span th:text="${ruleMatching.getOperator()}"></span><br/>
                        <strong>Value:</strong>
                        <ul th:each="value : ${ruleMatching.getValue()}">
                            <li><span th:text="${value}"></span></li>
                        </ul>
                    </li>
                </ul>

                <h4>Contacts:</h4>
                <div th:each="contact : ${eligibility.getContacts()}">
                    <h5>Contact Sequence:</h5>
                    <div th:each="contactSeq : ${contact.getContactSeq()}">
                        <p>Channel: <span th:text="${contactSeq.getChannel()}"></span></p>
                        <p>Template: <span th:text="${contactSeq.getTemplate()}"></span></p>
                        <p>Recipient: <span th:text="${contactSeq.getRecipient()}"></span></p>

                        <h6>Properties:</h6>
                        <ul th:each="property : ${contactSeq.getProperty()}">
                            <li>
                                <strong>Key:</strong> <span th:text="${property.getKey()}"></span><br/>
                                <strong>Value:</strong> <span th:text="${property.getValue()}"></span>
                            </li>
                        </ul>

                        <h6>Limits:</h6>
                        <ul th:each="limit : ${contactSeq.getLimits()}">
                            <li>
                                <strong>Key:</strong> <span th:text="${limit.getKey()}"></span><br/>
                                <strong>Threshold:</strong> <span th:text="${limit.getThreshold()}"></span><br/>
                                <strong>Expiration Period:</strong> <span th:text="${limit.getExpiration().getPeriod()}"></span><br/>
                                <strong>Expiration Unit:</strong> <span th:text="${limit.getExpiration().getUnit()}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
        <div th:if="${rule.configtype == 'FRAUD'}">
            <h1>FRAUDD</h1>
        </div>
</form>
</div>

<script>
    function openRuleMatching(evt, ruleName) {
       var i, tabcontent, tablinks;
       tabcontent = document.getElementsByClassName("tabcontent");
       for (i = 0; i < tabcontent.length; i++) {
           tabcontent[i].style.display = "none";
       }
       tablinks = document.getElementsByClassName("tablinks");
       for (i = 0; i < tablinks.length; i++) {
           tablinks[i].className = tablinks[i].className.replace(" active", "");
       }
       document.getElementById(ruleName).style.display = "block";
       evt.currentTarget.className += " active";
   }
  window.onload = function() {
        var firstTab = document.querySelector('.tablinks');
        if (firstTab) {
            openRuleMatching(null, firstTab.dataset.groupName);
        }
    };
</script>


<!-- Bootstrap JavaScript (Urutan penting: jQuery, Popper.js, Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>