<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Rules</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/rules.css}">
    <style>
      .card-container {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
      }
      .card {
          background-color: #f2f2f2;
          border-radius: 12px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          padding: 20px;
          width: 280px;
      }
      .card h2 {
          margin-top: 0;
      }
      .card:hover {
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
    </style>

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Konten Utama -->
<div id="content">
    <div id="findbar">
        <form method="get" th:action="@{/rules}">
            <input type="text" name="keyword" placeholder="Cari rule..." th:value="${keyword}" />
            <button type="submit">Search</button>
        </form>

    </div>

    <div th:if="${#lists.isEmpty(ruleLists)}">
        <p>Tidak ada hasil.</p>
    </div>
    <div id="listRules">
        <div class="card-container">
            <form th:action="@{/rule-detail}" method="get" th:each="rule : ${ruleLists}">
                <input type="hidden" name="configkey" th:value="${rule.configkey}" />
                <button type="submit">
                    <div class="card">
                        <h3 th:text="${rule.configkey}">Rule Name</h3>
                        <p><strong>ID:</strong> <span th:text="${rule.configtype}">1</span></p>
                        <p><strong>Deskripsi:</strong> <span th:text="${rule.createdon}">Deskripsi</span></p>
                    </div>
                </button>
            </form>

<!--            <a th:href="@{/rule/{index}(index=${loop.index})}" th:each="rule, loop : ${ruleLists}">-->
<!--                <div class="card">-->
<!--                    <h3 th:text="${rule.configkey}">Rule Name</h3>-->
<!--                    <p><strong>ID:</strong> <span th:text="${rule.configtype}">1</span></p>-->
<!--                    <p><strong>Deskripsi:</strong> <span th:text="${rule.createdon}">Deskripsi</span></p>-->
<!--                </div>-->
<!--            </a>-->

        </div>
    </div>

</div>


<!-- Bootstrap JavaScript (Urutan penting: jQuery, Popper.js, Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>