<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script th:src="@{/js/script.js}"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Rules</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/rules.css}">
    <style>
      .card-container {
          display: flex;
          flex-wrap: wrap;
          gap: 16px;
      }
      .card {
          background-color: #f2f2f2;
          border-radius: 12px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
          padding: 20px;
          width: 280px;
      }
      .card h2 {
          margin-top: 0;
      }
    </style>

</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Konten Utama -->
<div id="content">
    <div id="findbar">
        <form method="get" th:action="@{/rules}">
            <input type="text" name="keyword" placeholder="Cari rule..." th:value="${keyword}" />
            <button type="submit">Search</button>
        </form>

    </div>

    <div th:if="${#lists.isEmpty(rulesList)}">
        <p>Tidak ada hasil.</p>
    </div>

    <div id ="listRules">
        <div class="card-container">
            <div class="card" th:each="rule : ${rulesList}">
                <h3 th:text="${rule.name}">Rule Name</h3>
                <p><strong>ID:</strong> <span th:text="${rule.id}">1</span></p>
                <p><strong>Deskripsi:</strong> <span th:text="${rule.description}">Deskripsi</span></p>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap JavaScript (Urutan penting: jQuery, Popper.js, Bootstrap JS) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>